<div>
  <div>
    <input
      type="button"
      value="Logout"
      (click)="onLogoutClick()"
    />
  </div>
  <div>
    <div *ngFor="let candidato of resultadoPresidente.contagem">
      {{candidato.cpfCandidato}}: {{candidato.votos}}
      <input 
      type="button"
      value="Votar"
      (click)="onVotarClick('presidente',candidato.cpfCandidato)"
      />
    </div>
    <div>
      <input 
        type="button"
        value="Candidatar-me"
        (click)="onCanditarClick('presidente')"
      />
    </div>
  </div>
</div>