<div class="content">
  <div class="row">
    <p
      class="link col-1 offset-11"
      (click)="onLoginClick()">
      Login
    </p>
  </div>
  <div class="form">
    <div class="form-group">
      <span>CPF </span>
      <input #inputCpf
        class="form-control"
        type="text"
      />
    </div>
    <div class="form-group">
      <span>Nome </span>
      <input #inputNome
        class="form-control"
        type="text"
      />  
    </div>
    <div class="form-group">
      <span>Senha </span>
      <input #inputPassword
        class="form-control"
        type="password"
      />
    </div>
    <div class="form-group">
      <input 
        class="offset-9 col-3 btn btn-primary"
        type="submit"
        value="Cadastrar-me"
        (click)="onRegisterClick(inputCpf.value,inputNome.value,inputPassword.value)"
      />
    </div>
  </div>
</div>