<div class="content">
  <div class="row">
    <h3 class="col-11">Bem vindo {{usuario.nome}}</h3>
      <p class="link col-1"
        (click)="onLogoutClick()">
      logout
      </p>
  </div>
  <div class="session">
    <div class="row">
      <h4 class="col-10">Votação para Presidente</h4>
      <input 
        class="col-2 btn"
        type="button"
        value="Candidatar-me"
        (click)="onCanditarClick('presidente')"
      />
    </div>
    <div class="session">
      <div *ngFor="let candidato of resultadoPresidente.contagem">
        <li class="row">
          <p class="col-11">{{getNome(candidato.cpfCandidato)}}: {{candidato.votos}}</p>
          <p class="col-1 link"
            (click)="onVotarClick('presidente',candidato.cpfCandidato)">
            votar
          </p>
        </li>
      </div>
    </div>
  </div>
  <div class="footer">
    <h6>Raphael Aguiar 2018</h6>
  </div>
</div>