<div class="content">
  <div class="row">
    <p
      class="link col-1  offset-11"
      (click)="onLogonClick()">
      Logon
    </p>
  </div>
  <div class="form">
    <div class="form-group">
      <span>CPF</span>
      <input #inputCpf
        class="form-control"
        type="text"/>
    </div>
    <div class="form-group">
      <span>Senha</span>
      <input #inputPassword
        class="form-control"
        type="password"
      />
    </div>
    <div class="form-group">
      <input 
        class="offset-10 col-2 btn btn-primary"
        type="submit"
        value="Entrar"
        (click)="onEnterClick(inputCpf.value,inputPassword.value)"
      />
    </div>
  </div>
</div>